{% extends 'home.html' %}


{% block content %}
    <h1 class="text-center">编辑作者</h1>
    <form action="" method="post">
        <p>name:<input type="text" class="form-control" name="name" value="{{ edit_obj.name }}"></p>
        <p>age:<input type="text" class="form-control" name="age" value="{{ edit_obj.age }}"></p>
        <p>phone:<input type="text" class="form-control" name="phone" value="{{ edit_obj2.phone }}"></p>
        <p>addr:<input type="text" class="form-control" name="addr" value="{{ edit_obj2.addr}}"></p>


        <input type="submit" class="btn btn-warning pull-right">
    </form>
{% endblock %}